<div id="header-wrapper">
    <header id="header" class="container">

        <!-- Logo -->
        <div id="logo">
            <h1><a href="/">Covoiturage!</a></h1>
            <span></span>
        </div>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li><a href="/sign-up">S'inscrire</a></li>
                <li class ="current"><a href="/login">Se connecter</a></li>
                <li><a href="/index">Rechercher</a></li>
                <li><a href="post-ride.html">Publier</a></li>
            </ul>
        </nav>

    </header>
</div>