<title>Covoitu-GO!</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!--[if lte IE 8]>
<script src="js/ie/html5shiv.js"></script><![endif]-->
<link rel="stylesheet" href="css/main.css" />
<!--[if lte IE 8]>
<link rel="stylesheet" href="css/ie8.css"/><![endif]-->
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap-clockpicker.min.css">
<link rel="stylesheet" type="text/css" href="css/github.min.css">
<script src="js/ie/html5shiv.js"></script>

<script src="js/jquery.dropotron.min.js" defer></script>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>


<!-- Scripts -->
<script src = "https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&language=fr"></script>

<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/bootstrap-clockpicker.min.js"></script>
<script type="text/javascript" src="js/highlight.min.js"></script>

<script src="js/skel.min.js" defer></script>
<script src="js/util.js" defer></script>
<!--[if lte IE 8]>
<script src="js/ie/respond.min.js" defer></script><![endif]-->
<script src="js/main.js" defer></script>