<!-- Content -->
<article>

    <h2><%= userName %></h2>
    <% if (anecdote != null) { %>
    <p><%= anecdote %></p>
    <% }
    if (goalInLife != null) { %>
    <h3><%= goalInLife %></h3>
    <p><%= goalInLife %></p>
    <% } %>

</article>