<!DOCTYPE HTML>

<html>
<head>
    <title>Covoitu-GO!</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type='text/css' href="css/main.css" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="js/ie/html5shiv.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>


</head>

<body class="homepage">
<div id="page-wrapper">

    <!-- Header -->
    <div id="header-wrapper">
        <header id="header" class="container">

            <!-- Logo -->
            <div id="logo">
                <h1><a href="index.html">안녕하세요!</a></h1>
                <span></span>
            </div>

            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li><a href="index.html">Rechercher</a></li>
                    <li><a href="sign-up.html">S'inscrire</a></li>
                    <li class ="current"><a href="login.html">Se connecter</a></li>
                </ul>
            </nav>

        </header>
    </div>

    <!-- Banner -->
    <div id="banner-wrapper">
        <div id="banner" class="box container">
            <div align="center" >

                <div>
                    <form class="ride-posting">
                         <input type="text" class="ride-form" name = "currentLocation" placeholder="De">

                        <input type="text"  class="ride-form" name = "destination" placeholder="À"><br><br>

                        <input type=text  class="ride-form"  placeholder="Heure" list=browsers>
                        <datalist id=browsers>
                            <option value="1:00">
                            <option value="1:30">
                            <option value="2:00">
                            <option value="2:30">
                            <option value="3:00">
                            <option value="3:30">
                            <option value="4:00">
                            <option value="4:30">
                            <option value="5:00">
                            <option value="5:30">
                            <option value="6:00">
                            <option value="6:30">
                            <option value="7:00">
                            <option value="7:30">
                            <option value="8:00">
                            <option value="8:30">
                            <option value="9:00">
                            <option value="9:30">
                            <option value="10:00">
                            <option value="10:30">
                            <option value="11:00">
                            <option value="11:30">
                            <option value="12:00">
                            <option value="12:30">


                        </datalist>



                        <input type="text" class="ride-form"  id="datepicker" name="datepicker"  placeholder="Date" /> <br><br>






                    <div id="accordion" class="more-options">
                        <h3>More options</h3>

                        <div><br> Score du conducteur: ******<br><br>

                            Fumeur? :<input type="radio" name="smoker-radio" value="Yes">Oui
                            <input type="radio" name="smoker-radio" value="No" checked>Non <br><br>
                            Animaux accepté? :<input type="radio" name="animal-radio" value="Yes">Oui
                            <input type="radio" name="animal-radio" value="No" checked>Non <br><br>

                            Valises acceptés? :<input type="radio" name="bagagge-radio" value="Yes">Oui
                            <input type="radio" name="bagagge-radio" value="PM" checked>Non <br><br>
                            Commentaires:<br> <br><textarea id="comments-post-ride"></textarea><br><br>

                        </div>

                    </div>




                    </form>


                </div>

                <div class="post-ride">
                    <br><a href="no-results.html" class="button small icon fa-arrow-circle-right">Publier</a>
                </div>







            </div>
        </div>
    </div>


    <!-- Footer -->
    <div id="footer-wrapper">
        <footer id="footer" class="container">
            <div class="row">
                <div class="3u 6u(medium) 12u$(small)">

                    <!-- Links -->
                    <section class="widget links">
                        <h3>Random Stuff</h3>
                        <ul class="style2">
                            <li><a href="#">Etiam feugiat condimentum</a></li>

                        </ul>
                    </section>

                </div>
                <div class="3u 6u$(medium) 12u$(small)">

                    <!-- Links -->
                    <section class="widget links">
                        <h3>Random Stuff</h3>
                        <ul class="style2">
                            <li><a href="#">Etiam feugiat condimentum</a></li>

                        </ul>
                    </section>

                </div>
                <div class="3u 6u(medium) 12u$(small)">

                    <!-- Links -->
                    <section class="widget links">
                        <h3>Random Stuff</h3>
                        <ul class="style2">
                            <li><a href="#">Etiam feugiat condimentum</a></li>

                        </ul>
                    </section>

                </div>
                <div class="3u 6u$(medium) 12u$(small)">

                    <!-- Contact -->
                    <section class="widget contact last">
                        <h3>Contact Us</h3>
                        <ul>
                            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                            <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                            <li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
                        </ul>
                        <p>1234 Fictional Road<br />
                            Nashville, TN 00000<br />
                            (800) 555-0000</p>
                    </section>

                </div>
            </div>
            <div class="row">
                <div class="12u">
                    <div id="copyright">
                        <ul class="menu">
                            <li>&copy; Untitled. All rights reserved</li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>

</div>

<!-- Scripts -->
<script src=".js/jquery.dropotron.min.js"></script>
<script src="js/skel.min.js"></script>
<script src="js/util.js"></script>
<!--[if lte IE 8]>
<script src="js/ie/respond.min.js"></script><![endif]-->
<script src="js/main.js"></script>

</body>
</html>