<!DOCTYPE HTML>

<html>
<head>
    <% include ../partials/head %>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>

<body>


<!-- Header -->
<% include ../partials/header %>

<!-- Banner -->
<div id="banner-wrapper">
    <div id="banner" class="box container">
        <div align="center" >


            <form class="ride-posting preventEnter" method="post" action ="/post-ride">
                <div class="[ form-group ] ">
                    <input type="hidden" id="driverCheckbox" name="driverCheckbox" value="on">
                    <input type="text" id="currentLocation" class=" input-group"  name = "currentLocation"
                           placeholder="De" value="<%= travelResearch['startAddress']%>" readonly="readonly"> →

                    <input type="text" id="destination" class="input-group"  name = "destination"
                           placeholder="À" value="<%= travelResearch['destinationAddress']%>" readonly="readonly"><br><br>

                    <div class="clearfix">
                        <div class="input-group clockpicker"   data-align="top" data-autoclose="true">
                            <input type="text" class="form-control" name="clockpicker" id="withBootStrap"
                                   value="<%= travelResearch['departureTime']%>">
				                <span class="input-group-addon widerGlyph">
					            <span class="glyphicon glyphicon-time widerGlyph"></span>
				                </span>
                        </div>
                    </div>

                    <div class="input-group">
                        <input type="text" class="form-control formBootStrap"  id="datepicker" name="datepicker"
                               placeholder="Date" value="<%= travelResearch['departureDate']%>" readonly="readonly"/>
                              <span class="input-group-addon widerGlyph dateGlyph">
                                            <span class="glyphicon glyphicon-calendar widerGlyph"></span>
                                                </span>
                    </div>

                    <div class="input-group">
                        <input type="number"  id="costInput"  name="cost_d" placeholder="Coût" class="form-control formBootStrap" id="amount" min="0"/>
                                            <span class="input-group-addon widerGlyph costGlyph">
                                            <span class="glyphicon glyphicon-usd widerGlyph"></span>
                                                </span>
                    </div>

                    <div class="input-group">
                        <input type="number"  id="spinner"  name="spinner_d" placeholder="Sièges disponibles"  class="form-control formBootStrap" id="spinner" min="1" max="6"/>
                                            <span class="input-group-addon widerGlyph seatsGlyph">
                                            <span class="glyphicon glyphicon-plus widerGlyph"></span>
                                                </span>
                    </div><br>

                    <!-- <input class="input-group" id="costInput" type="text" name="cost_d"  placeholder="Coût"><br><br>-->

                    <!--       Sièges disponibles:    <input class="generalSpinner" id="spinner" name="spinner_d" value="0"><br><br>-->

                    <div id="accordion2"  style="width:580px;">



                        <h3>More options</h3>

                        <div><br> Score moyen du passager: ******<br><br>







                            Animaux acceptés?  <br><input type="radio" name="petsRadio_d" value="Yes">Oui
                            <input type="radio" name="petsRadio_d" value="No" checked>Non <br><br>

                            Valises acceptés?<br><input type="radio" name="luggageRadio_d" value="Yes">Oui
                            <input type="radio" name="luggageRadio_d" value="No" checked>Non <br><br>



                            Commentaires:<br> <br><textarea id="comments-post-ride" name = "commentsRide_d"></textarea><br><br>




                        </div>


                    </div>

                    <br><div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary active" id="currentLocationMap">
                            <input type="radio" name="locationMap" id ="radio-map-currentLocation" checked> Lieu de départ
                        </label>
                        <label class="btn btn-primary" id="destinationMap">
                            <input type="radio" name="locationMap" id ="radio-map-destination" > Lieu d'arrivé
                        </label>
                    </div>



                    <input id="pac-input" class="controls" type="text"
                           placeholder="Enter a location">
                    <div id="googleMap" class="googleMap"></div>

                    <input type="text" id="selectedPickupPoint" name ="selectedPickupPoint" class="selectedPoints" readonly="readonly">
                    <input type="text" id ="selectedDropOffPoint" name ="selectedDropOffPoint" class="selectedPoints" readonly="readonly"><br><br>
                    <input type="button"  class="reset-markers"  id="resetMarkers" value="Réinitialiser">
                    <input type="number" class="radius" id="radius" min="0" max="1000" placeholder="Rayon (en mètres)"><br>
                    <input type="hidden" id="curr-latLong" name="curr_latlong">
                    <input type="hidden" id="dest-latLong" name="dest_latLong">
                    <input type="hidden" id="radius-curr" name="radiusCurr">
                    <input type="hidden" id="radius-dest" name="radiusDest">


                    <div class="post-ride">
                        <br><br>  <input type="submit" value="Publier" >
                    </div>

                </div>
            </form>
        </div>
    </div>

    <!-- Footer -->
    <% include ../partials/footer %>

</div>
</body>
</html>