<!DOCTYPE HTML>

<html>
<head>
    <% include ../partials/head %>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

</head>

<body class="homepage" onload="google_maps();">
<div id="page-wrapper">

    <!-- Header -->
    <% include ../partials/header %>


    <!-- Banner -->


            <div class="box container">

                    <form method="get" action="/search" class="preventEnter">
                    <div class = "row" >
                        <p>  <input type="text"  id="currentLocation" class = "indexElement" name = "currentLocation" placeholder="De"></p>
                        <p> <input type="text" id="destination" class="indexElement"  name = "destination" placeholder="À"></p>
                        <p>   <input type="text" class="indexElement" id="datepicker" name="datepicker"  placeholder="Date"/></p><br>


                    </div><br>

                        <div align="right">

                                <button class="button  icon fa-arrow-circle-right" type="submit" name="search" value="driver">
                                    <%= strings.findDriver %>
                                </button>

                                <button class="button  icon fa-arrow-circle-right" type="submit" name="search" value="passenger">
                                    <%= strings.findPassenger %>
                                </button>

                        </div>

                    </form><br><br>

</div>

    <!-- Footer -->
    <% include ../partials/footer %>

</div>
</body>
</html>