<!DOCTYPE HTML>

<html>
<head>
    <% include ../partials/head %>

</head>

<body class="homepage" onload="initialize()">
<div id="page-wrapper">

    <!-- Header -->
    <% include ../partials/header %>

    <!-- Banner -->


            <div class="box container">

                    <form method="get" action="/search-ride">
                    <div class = "row" >
                        <p>  <input type="text"  id="currentLocation" class = "indexElement" onFocus="geolocate()" name = "currentLocation" placeholder="De"></p>
                        <p> <input type="text" id="destination" class="indexElement" onFocus="geolocate()" name = "destination" placeholder="À"></p>
                        <p>   <input type="text" class="indexElement" id="datepicker" name="datepicker"  placeholder="Date"/></p><br>


                    </div><br>
                       <button class="button icon fa-arrow-circle-right indexBtn">Go!</button>

                    </form><br><br>









</div>

    <!-- Footer -->
    <% include ../partials/footer %>

</div>
</body>
</html>