<!DOCTYPE HTML>

<html>
<head>
    <% include ../partials/head %>

</head>

<body class="homepage">
<div id="page-wrapper">

    <!-- Header -->
    <% include ../partials/header %>

    <!-- Banner -->
    <div id="banner-wrapper">
        <div id="banner" class="box container">
            <div class="row">

                <div >
                    <form action = "Destination textBox">
                        <input type="text" class="search-panel" name = "currentLocation" placeholder="De">
                        <input type="text" class="search-panel" name = "destination" placeholder="À">
                        <input type="text" class="search-panel" id="datepicker" name="datepicker" placeholder="Date"/>

                    </form><br><br>
                    <div class="indexpage">
                        <a href="/no-results" class="button small icon fa-arrow-circle-right">Go!</a>
                    </div>
                </div>







            </div>
        </div>
    </div>


    <!-- Footer -->
    <% include ../partials/footer %>

</div>
</body>
</html>