<!DOCTYPE HTML>

<html>
<head>
    <% include ../partials/head %>
</head>

<body class="homepage">
<div id="page-wrapper">

    <!-- Header -->
    <% include ../partials/header %>

    <!-- Banner -->
    <div id="banner-wrapper">
        <div id="banner" class="box container">
            <div class="row">

                <div class="4u 12u(medium)">

                </div>

                <div class="4u 12u(medium)">

                    <form action = "Email-adress-recovery">
                        <input type="text" name = "email-address-recovery" class="email-address-recovery" placeholder="Email Address">
                        <br><br>


                        <a href="no-results.html" class="button small icon fa-arrow-circle-right">Confirm</a>

                        <br><br>
                    </form>


                    <div class="confirm-pass-recovery-button">

                    </div>
                </div>




                <br>



            </div>
        </div>
    </div>


    <!-- Footer -->
    <% include ../partials/footer %>

</div>

</body>
</html>