<!DOCTYPE HTML>

<html>
<head>
    <% include ../partials/head %>
</head>
<body class="left-sidebar">
<div id="page-wrapper">

    <!-- Header -->
    <% include ../partials/header %>

    <!-- Main -->
    <div id="main-wrapper">
        <div class="container">
            <div class="row 200%">
                <div class="4u 12u$(medium)">
                    <div id="sidebar">

                        <div class="row">

                            <div >
                                <form action = "Destination textBox">
                                    <input type="text" class="search-panel" name = "currentLocation" placeholder="De"><br>
                                    <input type="text" class="search-panel" name = "destination" placeholder="À"><br>
                                    <input type="text" class="search-panel" id="datepicker" name="datepicker" placeholder="Date"/><br>

                                </form>

                                <br><a href="no-results.html" class="button small icon fa-arrow-circle-right">Go!</a>

                            </div>







                        </div>
                        <!-- Sidebar -->
                        <section>
                            <div><br>

                                <h1>Experience</h1><input type="radio" name="smoker-radio" value="Super">Super-Experience<br>
                                <input type="radio" name="smoker-radio" value="Moyen" checked>Moyen-Experience <br>
                                <input type="radio" name="smoker-radio" value="Ex" checked>Experience <br>
                                <input type="radio" name="smoker-radio" value="Low" checked>Low-Experience <br>

                                <h1>Avec photo?</h1><input type="radio" name="smoker-radio" value="Yes">Oui<br>
                                <input type="radio" name="smoker-radio" value="No" checked>Non <br><br>
                                <h1>Avec photo?</h1><input type="radio" name="smoker-radio" value="Yes">Oui<br>
                                <input type="radio" name="smoker-radio" value="No" checked>Non <br><br>
                                <h1>Avec photo?</h1><input type="radio" name="smoker-radio" value="Yes">Oui<br>
                                <input type="radio" name="smoker-radio" value="No" checked>Non <br><br>
                                <h1>Avec photo?</h1><input type="radio" name="smoker-radio" value="Yes">Oui<br>
                                <input type="radio" name="smoker-radio" value="No" checked>Non <br><br>


                            </div>
                        </section>

                    </div>
                </div>
                <div class="8u 12u$(medium) important(medium)">
                    <div id="content">

                        <%for ( i= 0;i<drivers.length;i++) { %>
                        <h2><%= drivers[i] %></h2>

                        <%=currentLocation%><span> → <span><%=destination%>



                        <%}%>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <% include ../partials/footer %>

</div>

</body>
</html>