<!DOCTYPE HTML>

<html>
<head>
    <% include ../partials/head %>
</head>
<body class="left-sidebar">
<div id="page-wrapper">

    <!-- Header -->
    <% include ../partials/header %>

    <!-- Main -->
    <div id="main-wrapper">
        <div class="container">
            <div class="row 200%">
                <div class="4u 12u$(medium)">
                    <div id="sidebar">

                        <div class="row">

                            <div >
                                <form action = "Destination textBox">
                                    <input type="text" class="search-panel" name = "currentLocation" placeholder="De"><br>
                                    <input type="text" class="search-panel" name = "destination" placeholder="À"><br>
                                    <input type="text" class="search-panel" id="datepicker" name="datepicker" placeholder="Date"/><br>

                                </form>

                                <br><a href="no-results.html" class="button small icon fa-arrow-circle-right">Go!</a>

                            </div>







                        </div>
                        <!-- Sidebar -->
                        <section>
                            <div><br>

                                <h1>Experience</h1><input type="radio" name="smoker-radio" value="Super">Super-Experience<br>
                                <input type="radio" name="smoker-radio" value="Moyen" checked>Moyen-Experience <br>
                                <input type="radio" name="smoker-radio" value="Ex" checked>Experience <br>
                                <input type="radio" name="smoker-radio" value="Low" checked>Low-Experience <br>

                                <h1>Avec photo?</h1><input type="radio" name="smoker-radio" value="Yes">Oui<br>
                                <input type="radio" name="smoker-radio" value="No" checked>Non <br><br>
                                <h1>Avec photo?</h1><input type="radio" name="smoker-radio" value="Yes">Oui<br>
                                <input type="radio" name="smoker-radio" value="No" checked>Non <br><br>
                                <h1>Avec photo?</h1><input type="radio" name="smoker-radio" value="Yes">Oui<br>
                                <input type="radio" name="smoker-radio" value="No" checked>Non <br><br>
                                <h1>Avec photo?</h1><input type="radio" name="smoker-radio" value="Yes">Oui<br>
                                <input type="radio" name="smoker-radio" value="No" checked>Non <br><br>


                            </div>
                        </section>

                    </div>
                </div>
                <div class="8u 12u$(medium) important(medium)">
                    <div id="content">

                        <ul class="">

                            <li class="" itemscope itemtype="http://schema.org/Event">
                                <a href="/trajet-paris-lyon-264814598" rel="nofollow" class="">
                                    <meta itemprop="url" content="">
                                    <article class="row">
                                        <div class="user span2">

                                            <img class="photo" src="../views/images/old.png" width="72" height="72" />
                                            <div class="">
                                                <h2 class="username">Personne A</h2>
                                                X ans<br />
                                                Confirmé
                                            </div>
                                            <div class="">
                                                <p class=" " title="Évaluation moyenne">
                                                    <i class=" " aria-hidden="true"></i>
                                                    <span class=" ">4.4</span><span class=""> - 5 avis</span>
                                                </p>

                                            </div>
                                        </div>

                                        <div class="">
                                            <h3 class=" " itemprop="startDate" content="2015-09-28">Aujourd&#039;hui à 07h30</h3>
                                            <h3 class="" itemprop="name">
                                                <span class="from trip-roads-stop">Sherbrooke</span>
                                                <span class="arrow-ie">→</span>
                                                <span class="trip-roads-stop">Magog</span>
                                                <i
                                                        aria-hidden="true"

                                                        title="Ce trajet emprunte l'autoroute"
                                                        ></i>
                                            </h3>
                                            <dl class="geo-from">
                                                <dt>
                                                    <i class="" title="Départ"></i>
                                                </dt>
                                                <dd class="" title="Départ">
                                                    Addresse de depart
                                                </dd>
                                            </dl>
                                            <dl class="geo-to">
                                                <dt>
                                                    <i class="" title="Arrivée"></i>
                                                </dt>
                                                <dd class="" title="Arrivée">
                                                    Addresse d'arrivé
                                                </dd>
                                            </dl>
                                            <dl class="" title="Confort : normal">
                                                <dt>Véhicule : <strong>Dodge Viper 1902</strong></dt>
                                                <dd>
                                                    <span class="" title="Confort : normal"></span>
                                                </dd>
                                            </dl>
                                        </div>

                                        <div class="t">


                                            <div class="" itemprop="location">
                                                <strong>
                                 <span>
                                    5$
                                </span>                    </strong>
                                                <span class="">par place</span>
                                            </div>
                                            <div class="">
                                                <strong>Complet</strong>
                                            </div>

                                        </div>
                                    </article>
                                </a>
                            </li>
                            <hr>
                            <li class="" itemscope itemtype="http://schema.org/Event">
                                <a href="/trajet-paris-lyon-264814598" rel="nofollow" class="">
                                    <meta itemprop="url" content="">
                                    <article class="row">
                                        <div class="user span2">

                                            <img class="photo" src="../views/images/old.png" width="72" height="72" />
                                            <div class="">
                                                <h2 class="username">Personne B</h2>
                                                X ans<br />
                                                Confirmé
                                            </div>
                                            <div class="">
                                                <p class=" " title="Évaluation moyenne">
                                                    <i class=" " aria-hidden="true"></i>
                                                    <span class=" ">4.4</span><span class=""> - 5 avis</span>
                                                </p>

                                            </div>
                                        </div>

                                        <div class="">
                                            <h3 class=" " itemprop="startDate" content="2015-09-28">Aujourd&#039;hui à 07h30</h3>
                                            <h3 class="" itemprop="name">
                                                <span class="from trip-roads-stop">Sherbrooke</span>
                                                <span class="arrow-ie">→</span>
                                                <span class="trip-roads-stop">Magog</span>
                                                <i
                                                        aria-hidden="true"

                                                        title="Ce trajet emprunte l'autoroute"
                                                        ></i>
                                            </h3>
                                            <dl class="geo-from">
                                                <dt>
                                                    <i class="" title="Départ"></i>
                                                </dt>
                                                <dd class="" title="Départ">
                                                    Addresse de depart
                                                </dd>
                                            </dl>
                                            <dl class="geo-to">
                                                <dt>
                                                    <i class="" title="Arrivée"></i>
                                                </dt>
                                                <dd class="" title="Arrivée">
                                                    Addresse d'arrivé
                                                </dd>
                                            </dl>
                                            <dl class="" title="Confort : normal">
                                                <dt>Véhicule : <strong>Dodge Viper 1902</strong></dt>
                                                <dd>
                                                    <span class="" title="Confort : normal"></span>
                                                </dd>
                                            </dl>
                                        </div>

                                        <div class="t">


                                            <div class="" itemprop="location">
                                                <strong>
                                 <span>
                                    5$
                                </span>                    </strong>
                                                <span class="">par place</span>
                                            </div>
                                            <div class="">
                                                <strong>Complet</strong>
                                            </div>

                                        </div>
                                    </article>
                                </a>
                            </li>
                            <hr>
                            <li class="" itemscope itemtype="http://schema.org/Event">
                                <a href="/trajet-paris-lyon-264814598" rel="nofollow" class="">
                                    <meta itemprop="url" content="">
                                    <article class="row">
                                        <div class="user span2">

                                            <img class="photo" src="../views/images/old.png" width="72" height="72" />
                                            <div class="">
                                                <h2 class="username">Personne C</h2>
                                                X ans<br />
                                                Confirmé
                                            </div>
                                            <div class="">
                                                <p class=" " title="Évaluation moyenne">
                                                    <i class=" " aria-hidden="true"></i>
                                                    <span class=" ">4.4</span><span class=""> - 5 avis</span>
                                                </p>

                                            </div>
                                        </div>

                                        <div class="">
                                            <h3 class=" " itemprop="startDate" content="2015-09-28">Aujourd&#039;hui à 07h30</h3>
                                            <h3 class="" itemprop="name">
                                                <span class="from trip-roads-stop">Sherbrooke</span>
                                                <span class="arrow-ie">→</span>
                                                <span class="trip-roads-stop">Magog</span>
                                                <i
                                                        aria-hidden="true"

                                                        title="Ce trajet emprunte l'autoroute"
                                                        ></i>
                                            </h3>
                                            <dl class="geo-from">
                                                <dt>
                                                    <i class="" title="Départ"></i>
                                                </dt>
                                                <dd class="" title="Départ">
                                                    Addresse de depart
                                                </dd>
                                            </dl>
                                            <dl class="geo-to">
                                                <dt>
                                                    <i class="" title="Arrivée"></i>
                                                </dt>
                                                <dd class="" title="Arrivée">
                                                    Addresse d'arrivé
                                                </dd>
                                            </dl>
                                            <dl class="" title="Confort : normal">
                                                <dt>Véhicule : <strong>Dodge Viper 1902</strong></dt>
                                                <dd>
                                                    <span class="" title="Confort : normal"></span>
                                                </dd>
                                            </dl>
                                        </div>

                                        <div class="t">


                                            <div class="" itemprop="location">
                                                <strong>
                                 <span>
                                    5$
                                </span>                    </strong>
                                                <span class="">par place</span>
                                            </div>
                                            <div class="">
                                                <strong>Complet</strong>
                                            </div>

                                        </div>
                                    </article>
                                </a>
                            </li>
                            <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <% include ../partials/footer %>

</div>

</body>
</html>