<!DOCTYPE HTML>

<html>
<head>
    <% include ../partials/head %>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

</head>

<body class="homepage">
<div id="page-wrapper">

    <!-- Header -->
    <% include ../partials/header %>


    <!-- Banner -->


            <div class="box container">











</div>

    <!-- Footer -->
    <% include ../partials/footer %>

</div>
</body>
</html>