<!DOCTYPE HTML>

<html>
<head>
    <% include ../partials/head %>
</head>
<body class="no-sidebar">
<div id="page-wrapper">

    <!-- Header -->
    <% include ../partials/header %>

    <!-- Main -->
    <div id="main-wrapper">
        <div class="container">
            <div id="content" align="center" >

                <!-- Content -->

                <h2>S'inscrire</h2>
                <div>
                    <form action = "/sign-up" method="post">
                        <input type="text" class="login-textbox"  name = "firstName" placeholder ="Prénom"><br>
                        <input type="text" class="login-textbox"  name = "familyName" placeholder ="Nom de famille"><br>
                        <input type="email" class="signup-email" name = "email" placeholder="Courriel"><br>
                        <input type="password" class="signup-pass" name = "password" placeholder="Mot de passe"><br>
                        <input type="password" class="signup-pass" name = "confirm-password" placeholder="Confirmer mot de passe"><br>
                        <input type="text" class="login-textbox" name = "birth-date" placeholder="Date de naissance"><br>
                        
                        <br>
                        <button type="submit" class="button small icon fa-arrow-circle-right">S'inscrire</button>
                    </form>
                    <div>
                        <a href="/auth/facebook" >
                            <img class="logo-social-media" src="images/facebook.png">
                        </a>
                        <a href="/auth/google" >
                            <img class="logo-social-media" src="images/google+.png">
                        </a>
                    </div>
                </div>






            </div>
        </div>
    </div>

    <!-- Footer -->
    <% include ../partials/footer %>

</div>

</body>
</html>