<!DOCTYPE HTML>

<html>
<head>
    <% include ../partials/head %>
</head>

<body class="homepage">
<div id="page-wrapper">

    <!-- Header -->
    <% include ../partials/header %>

    <!-- Main -->
    <div id="main-wrapper">
        <div class="container">
            <div class="row 200%">

                <!--% include ../partials/sidebar %-->

                <div class="8u 12u$(medium) important(medium)">
                    <div id="content">
                        <% proposition.forEach(function(items){%>
                            <h3> Code du voyage: <%= items.searchID%></h3>
                            <h4> Proposition de voyage: </h4>
                            <% items.offer.forEach(function(transport){%>
                                <p><%= transport.attributes.idTravel%></p>
                            <%})%>

                        <% }) %>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <% include ../partials/footer %>

</div>
</body>
</html>